<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Study Agent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Study Agent</h1>
        <p>
            学習ログを整理して、
            AIが次のアクションを提案します。
        </p>

            <form method="post">
                <textarea name="study" placeholder="今日やったこと"></textarea>
                <textarea name="trouble" placeholder="困ったこと"></textarea>

                <textarea
                name="memo"
                placeholder="明日やりたいことを書く"
            ></textarea>

                <br>
                <button type="submit">送信</button>
            </form>
    
        <div class="result-box">
            {{ result }}
        </div>
        <h2>最近の履歴</h2>

        <div class="history-list">
            {% for history in histories %}
                <div class="history-card">
                    <p class="date">{{ history[4] }}</p>
                    <p><strong>学習内容：</strong>{{ history[0] }}</p>
                    <p><strong>学習状態：</strong>{{ history[1] }}</p>
                    <p><strong>AIコメント：</strong>{{ history[2] }}</p>
                    <p><strong>明日のTODO：</strong>{{ history[3] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>